{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
{{ if eq .Params.headerstyle "text" }}
<header class="intro-header style-text" >
{{ else }}
<header class="intro-header" >
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {{ range .Params.tags }}
                        <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">
                            {{ . }}
                        </a>
                        {{ end }}
                    </div>
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">{{ .Params.subtitle }}</h2>
                    <span class="meta">
                        {{ if .Params.metadata }}
                            {{ range $index, $element := .Params.metadata }}
                                {{ if .link }}
                                    <a href="{{ .link }}">{{ .text }}</a>
                                {{ else }}
                                    {{ .text }}
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            Posté par
                            {{ if .Params.author }}
                                {{ .Params.author }}
                            {{ else }}
                                    {{ .Site.Title }}
                            {{ end }}
                            on
                            {{ .Date.Format "Monday, January 2, 2006" }}
                            {{ if .Site.Params.page_view_conter }}
                                {{ partial "page_view_counter.html" . }}
                            {{ end }}
                            <!-- Don't show "Last Modified on" if update happened on the same day. -->
                            {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
                            <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }}
                            {{ end }}
                        {{ end }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-11 col-lg-offset-1
                col-md-10 col-md-offset-1
                post-container">

                {{ if not (eq (.Param "showtoc") false) }}
                <header>
                    <!-- <h2>TOC</h2> -->
                </header>
                {{.TableOfContents}}
                {{ end }}
                {{ .Content }}

                {{ if .Site.Params.reward }}
                {{ partial "reward.html" . }}
                {{ end }}

                <hr>
                <p>
                  La liste devrait donc se trouver ci-dessous <quote>{{ .Page.Params.LanguageCode }}</quote> :
                  <ul>
                    <li>une possibilité : [ {{ .Date.Weekday }}  {{ printf "%d" .Date.Weekday }} / {{ .Date.Day }}. {{ .Date.Month }} {{ ( printf "%d" .Date.Month) }} {{ .Date.Year }}] </li>
                    <li> Ma Fameuse Date
                      {{ .Date.Day }}. {{ .Date.Month }} {{ .Date.Year }}


                    </li>


                  <li>La liste all_i18N_data ci-dessous:</li>

                  {{ range $ma_culture, $all_i18N_data := $.Site.Data.translations }}
                      {{ if (eq $ma_culture "fr-FR" ) }}
                        {{ range $mykey, $myvalue := $all_i18N_data.calendrier }}
                        <li><a href="{{ $mykey }}">clef du mois : {{ $mykey }} | valeur ici: {{ $myvalue.mois.text }} </a></li>
                        <li><a href="{{ $mykey }}"> {{ .Date.Day }}. {{ $myvalue.mois.text }} {{ .Date.Year }} </a></li>
                        {{ end }}
                      {{ else }}
                        non,on affiche pas pour les Japonais
                        {{ $.Site.Params.locale }}
                      {{ end }}
                  {{ end }}

                  <li>Quick test Day of Week :</li>
                  <li><a href="#">Quick test - jour de la semaine : {{ $.Site.Data.translations.jourdelasemaine.text }}  / jour de publication : {{  $.Date.Weekday }} / Clef du jour de publication : {{  printf "%d" $.Date.Weekday }}</a></li>
                  <li>Test day of week : </li>

                  {{ range $ma_culture, $all_i18N_data := $.Site.Data.translations }}

                      {{ if (eq $ma_culture "fr-FR" ) }}
                        {{ range $mykey, $myvalue := $all_i18N_data.semainier }}
                          {{  $clefJourDePublication := (printf "%d" $.Date.Weekday) }}
                          <li>clefJourDePublication = {{  $clefJourDePublication  }}</li>
                          <li>clefJourDePublication reformatée en chaîne de caractères = {{  (printf "%#v" $clefJourDePublication)  }}</li>

                          <li>mykey = {{  $mykey  }}</li>
                          {{ if (eq $clefJourDePublication "$mykey") }}
                             <li>
                               oui égalité
                             </li>
                          {{ else }}
                              <li>tjrs pas d'égalité</li>
                          {{ end }}
                          {{ if eq (printf "%#v" $clefJourDePublication) (printf "%#v" $mykey) }}
                            <li><a href="#">FILTRE - clef du jour : {{ $mykey }} | jour de la semaine : {{ $myvalue.jourdelasemaine.text }}  / jour de publication : {{  $.Date.Weekday }} / Clef du jour de publication : {{  printf "%d" $.Date.Weekday }}</a></li>
                          {{ else }}
                            <li>pas égal</li>
                          {{ end }}
                          <li><a href="{{ $mykey }}">clef du jour : {{ $mykey }} | jour de la semaine : {{ $myvalue.jourdelasemaine.text }}  / jour de publication : {{  $.Date.Weekday }} / Clef du jour de publication : {{  printf "%d" $.Date.Weekday }}</a></li>
                        {{ end }}
                      {{ else }}
                        non,on affiche pas pour les Japonais
                        {{ $.Site.Params.locale }}
                      {{ end }}
                  {{ end }}




                  </ul>
                </p>
                <hr>
                <ul class="pager">
                    {{ if .PrevInSection }}
                    <li class="previous">
                        <a href="{{ .PrevInSection.URL }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title}}">&larr;
                            Previous Post</a>
                    </li>
                    {{ end }}
                    {{ if .NextInSection }}
                    <li class="next">
                        <a href="{{ .NextInSection.URL }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title}}">Next
                            Post &rarr;</a>
                    </li>
                    {{ end }}
                </ul>

                {{ partial "comments.html" . }}

            </div>
            <!-- Sidebar Container -->
            <div class="
                col-lg-11 col-lg-offset-1
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {{ if .Site.Params.featured_tags }}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <!-- <h5><a href="/tags/">TAGS (étiquettes)</a></h5> -->
                    <div class="tags">
                        {{ $featured_condition_size := .Site.Params.featured_condition_size }}
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
                        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                            {{ $name }}
                        </a>
                        {{ end }}
                        {{ end }}
                    </div>
                </section>
                {{ end }}

                <!-- Friends Blog -->
                {{ if .Site.Params.friends }}
                <section>
                    <hr>
                    <!-- <h5>FRIENDS</h5>
                    <ul class="list-inline">
                        {{ range .Site.Params.friend_link }}
                        <li><a target="_blank" href="{{.href}}">{{.title}}</a></li>
                        {{ end }}
                    </ul>
                     -->
                </section>
                {{ end }}
            </div>
        </div>
    </div>
</article>

{{ end }}
