

{{ if (eq .Page.RelPermalink "/top/donations/" ) }}
  <h1>{{ .Site.Params.categorie_contact_titre }} </h1>
{{ else }}
  <!-- no snipcart buttons in this page-->
{{ end }}


    <div class="col-lg-3 col-md-3">

      <div class="card" style="width: 100%; padding: 1.5rem; background-color: #1d253505;">
        <img class="card-img-top" src="/img/donations/coins.png" alt="Faire un don de 5.00 euros"   style="width: 100%; border-radius: 5px; padding: 1px; opacity: 0.4!important;">
        <div class="card-body">
          <h5 class="card-title">Don de 5.00 euros</h5>
          <p class="card-text">En Faisant un don de 5.00 euros, vous devenez membre donateur! :) </p>
          <button class="btn btn-secondary buy-button snipcart-add-item" style="color: #fff; background-color: #5bc0de;" data-item-name="don_mecenat_xsmall" data-item-id="don_mecenat_xsmall" data-item-price="5.00" data-item-url="/top/donations" type="button" name="button">

            Don 5.00 euros
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-3">

      <div class="card" style="width: 100%; padding: 1.5rem; background-color: #1d253505;">
        <img class="card-img-top" src="/img/donations/silver.png" alt="Faire un don de 20.00 euros"   style="width: 100%; border-radius: 5px; padding: 1px; opacity: 0.4!important;">
        <div class="card-body">
          <h5 class="card-title">Don de 20.00 euros</h5>
          <p class="card-text">En Faisant un don de 20.00 euros, vous devenez membre donateur! :) </p>
          <button class="btn btn-secondary buy-button snipcart-add-item" style="color: #fff; background-color: #5bc0de;" data-item-name="don_mecenat_small" data-item-id="don_mecenat_small" data-item-price="20.00" data-item-url="/top/donations" type="button" name="button">

            Don 20.00 euros
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-3">

      <div class="card" style="width: 100%; padding: 1.5rem; background-color: #1d253505;">
        <img class="card-img-top" src="/img/donations/gold2.png" alt="Faire un don de 5.00 euros"   style="width: 100%; border-radius: 5px; padding: 1px; opacity: 0.4!important;">
        <div class="card-body">
          <h5 class="card-title">Don de 100.00 euros</h5>
          <p class="card-text">En Faisant un don de 100.00 euros, vous devenez membre donateur! :) </p>
          <button class="btn btn-secondary buy-button snipcart-add-item" style="color: #fff; background-color: #5bc0de;" data-item-name="don_mecenat_medium" data-item-id="don_mecenat_medium" data-item-price="100.00" data-item-url="/top/donations" type="button" name="button">

            Don 100.00 euros
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-3">

      <div class="card" style="width: 100%; padding: 1.5rem; background-color: #1d253505;">
        <img class="card-img-top" src="/img/donations/platinum.png" alt="Faire un don de 5.00 euros" style="width: 100%; border-radius: 5px; padding: 1px; opacity: 0.4!important;">
        <div class="card-body">
          <h5 class="card-title">Don de 1000.00 euros</h5>
          <p class="card-text">En Faisant un don de 1000.00 euros, vous devenez membre donateur! :) </p>
          <button class="btn btn-secondary buy-button snipcart-add-item" style="color: #fff; background-color: #5bc0de;" data-item-name="don_mecenat_big" data-item-id="don_mecenat_big" data-item-price="1000.00" data-item-url="/top/donations" type="button" name="button">

            Don 1000.00 euros
          </button>
        </div>
      </div>

    </div>
